body {
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 320px;
    background: #111;
    border-radius: 10px;
    padding: 15px;
    /* box-shadow: 0px 0px 25px rgba(0,0,0,0.8); */
}

.display {
    width: 100%;
    height: 60px;
    background: #000;
    color: #00ff99;
    font-size: 24px;
    border: none;
    padding-right: 10px;
    text-align: right;
    border-radius: 6px;
}

.btn {
    height: 55px;
    font-size: 18px;
}

.btn-operator {
    background-color: #212529 !important;
    color: white;
    border: none;
}

.btn-danger {
    background-color: #ff3b3b !important;
}

.btn-success {
    background-color: #fff !important;
    color: #111;
    font-size: 35px;
}

.equal-btn{
  padding: 0px 0px 12px 0px;
}
.btn:hover {
    color: #383636;
}
